body {
    width: 99%;
    text-align: center;
    background-image: url("./images/background.jpg");
    background-size: cover;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 12px;    
}

header{
    background-image: url("./images/aemps.png");
    background-size: auto;
    background-repeat: no-repeat;
}

h1{
    margin-left: 50px;
    padding: 20px;    
}

.container{
    margin-top: 20px;
    display: inline-block;
    margin-left: 5px;
    width: 100%;
   
}

.buscamed, .results{
    display: block;
    font-weight: bold;
    width: 30%;
}

footer{
    border-top: 1px solid black;
    width: 40%;
}



div{
    display: inline-block;
    width: 25%;
    margin-top:10px;
}

article {
    margin: 5%;
    padding: 5px;
    border: 2px solid black;
    border-radius: 3%;
    margin-top: 10px;
    background-color: antiquewhite;
    width: 90%;
    display: inline-block;
    align-content: center;
}

textarea {
    display: inline-block;
    width: 95%;
}